{% extends 'AVBundle::layoutPrinci.html.twig' %}


{% block content_header %}
  

{% endblock %}

{% block content %}


                  <h4> Grupo:  {{grupo.nombre}}</h4>
   
		
	

<div id="target" style=" width: 50% " >
  
</div>

<div id="target2" class="col-md-10" > 
<ul id="PublicacionesContainer" style="display:none" class="timeline">

</ul>
<center>
  
  <button id="verMasPosts" class="btn btn-sucess  btn-lg">Ver más posts</button>
</center>

</div>


  


 



{#  <div id="nuevoPost" class="post-form" >
        <div class="wrapper-post-form">
          <div class="seccion-post">
            <div class="titulo">

              <input type="text" name="" id="tituloNuevoPost" class="form-control" placeholder="Titulo del post" value="" required="required" pattern="" title="">
            </div>

          </div>
          <div class="panel-body" style='text-align: left; padding-bottom: 0px; padding-top: 0px;'> 
            <button id="add_code" class="p_op btn btn-default btn-xs" style="background-color:#424439; color:#EFEFEF">codigo</button>
            <button id="add_sep"  class="p_op btn btn-default btn-xs" style="background-color:#424439; color:#EFEFEF">separador</button>
            <button id="add_link" class="p_op btn btn-default btn-xs" style="background-color:#424439; color:#EFEFEF">link</button>
            <button id="add_img" class=" p_op btn btn-default btn-xs" style="background-color:#424439; color:#EFEFEF">imagen</button>
          </div>
          <div class="seccion-post">

            <div contentEditable='true' id= "contenidoNuevoPost"  class="contenido_p"></div>             

          </div>
          <div class="seccion-post">

            <div class="recursos-post">

              <form id= "dragupload" action="upload.php" class="dropzone dz-clickable" onmouseover="$('.msj_drag').fadeOut();" style="min-height:124px"  method="post" enctype="multipart/form-data">

                <div class="msj_drag"> Haz click o arrastra los archivos </div>
              </form>


            </div>
          </div>
          <div class="footer-post-form">
            
            <button class=" enviarPost btn btn-success btn-lg"> Publicar </button>
            <!-- <button class="btn btn-primary btn-lg" onclick="preview_post()"> Vista previa </button> -->
          </div>


        </div>
      </div>
 #}

{% verbatim %}

	<script id="plantillaNuevoPost" type="text/x-handlebars-template">


      <div id="nuevoPost" class="box box-default">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-edit"> Nueva publicación </i> </h3>
            </div>
            <div class="box-body">
                <div class="titulo">
                     <input type="text" name="" id="tituloNuevoPost" class="form-control" placeholder="Titulo del post" value="" required="required" pattern="" title="">
                 </div>
              <div class="panel-body" style='text-align: left; padding-bottom: 0px; padding-top: 0px;'> 
              
              </div>
              <br>
               <div contentEditable='true' id= "contenidoNuevoPost" style="min-height:100px"  class="form-control contenido_p"></div>
                 
                  <div class="footer-post-form">
            
                    <button class="center-block enviarPost btn btn-success"> Publicar </button>
                    
                  </div>

            </div><!-- /.box-body -->
      </div>
</script>
<!--     <div  class="post" >
     <div class="row">
       <div class="post-heading">
        <div class="left-side-header-post">
         <div class="profile-photo" >
           <img src="foto.jpg" alt="">
         </div>
       </div>
       <div class="right-side-header-post">
         <ul class="post-info">
           <li>{{infopost.usuario.login}} ha publicado:</li>
           <li>Fecha: {{infopost.fecha}} </li>
           <li>Hora: {{infopost.hora}} </li>
           <li>Calidad de la publicación:
            <br>

            <div class="post-progress-bar" style="padding:0">
             <div class='progress-bar progress-bar-success' role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">{{infopost.calidad}} 
              <span class="sr-only">60% Complete</span>
            </div>

          </div>
        </li>

      </ul>

      <div class="opcionesPost" style='position:absolute; top:2px; right:8px'> 
   
     {{#ifIgual datosUsuario.id_usuario infopost.usuario.id_usuario}}
        <button class='editar_post btn btn-info btn-xs' ><span class='glyphicon glyphicon-pencil'> </span></button> 
     {{/ifIgual}}
      {{#ifIgual datosUsuario.idTipousuario 2 }}
        <button class='eliminar_post btn btn-danger btn-xs' ><span class='glyphicon glyphicon-minus'> </span></button> 
       {{/ifIgual}}

        {{#ifIgual datosUsuario.id_usuario infopost.usuario.id_usuario }}
        <button class='eliminar_post btn btn-danger btn-xs' ><span class='glyphicon glyphicon-minus'> </span></button> 
       {{/ifIgual}}
        </div>
    </div>

    
  </div>
  <div class="post-body">
   <div class="titulo"> {{infopost.titulo}} </div>
   <div class="contenido">{{infopost.contenido}}</div>
   <div class="recursos-post">
     <div  class="tags tags-post"></div>
   </div>
 </div>
 <div class="post-footer">
   <div class="col-md-4 col-xs-4">

    <div   class="btn-group dropup pull-left">


    {{#ifIgual datosUsuario.idTipousuario 2 }}
      <button   type="button" class=" cal_btn  btn btn-danger btn-sm  img-responsive dropdown-toggle" data-toggle="dropdown">
        Calificar <span class="caret"></span>
      </button>
      <ul  class="calidadBtn dropdown-menu" role="menu">
        <li  ><a id= 'Mala' class='cal_op' >Mala</a></li>
        <li     ><a id= 'Regular'  class='cal_op' > Regular</a></li>
        <li   ><a id= 'Muy buena'  class='cal_op' >Muy buena</a></li>
        <li   ><a id= 'Excelente'  class='cal_op' >Excelente</a></li>
      </ul>
      {{/ifIgual}}

    </div>
  </div>
  <div class="col-md-4 col-xs-4">

 <button {{#if infopost.likeUsuarioLogeado  }} disabled {{/if}}  class="like_btn btn btn-primary btn-lg center-block img-responsive">Me gusta!</button>


 </div>

 <div class="  col-md-4 col-xs-4 " ><a href="#" class=" verUsuariosLikes pull-right img-responsive " title="This is my div's tooltip message!" > Likes <span   class="likes_span badge" >{{infopost.likes}}</span> </a> </div>
</div>
</div>

</div>      
 </div> -->
 <script id="plantillaPost" type="text/x-handlebars-template">

   
                  <i class="fa  fa-comment bg-blue " ></i>
                  <div class="timeline-item">
                  <span data-toggle="tooltip" data-placement="top" title="A {{infopost.likes}} personas le gusta" class=" badge pull-right bg-blue">{{infopost.likes}}</span>
                       {{#ifIgual datosUsuario.id_usuario infopost.usuario.id_usuario}}
                <div class="btn-group time">
                    
                      <button type="button" class=" btn btn-default  btn-xs  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a class="editar_post" ><i class="fa fa fa-edit"></i>  Editar</a></li>
                        <li><a class="eliminar_post" ><i class="fa fa fa-times"></i>Eliminar</a></li>
                      </ul>
                    </div>
                        {{/ifIgual}}
                        {{#ifDif datosUsuario.id_usuario infopost.usuario.id_usuario}}
                         {{#ifIgual datosUsuario.idTipousuario 2}}
                            <div class="btn-group time">
                            
                             <button type="button" class=" btn btn-default  btn-xs  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span>
                            </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a class="eliminar_post"><i class="fa fa fa-times"></i>Eliminar</a></li>
                                
                              </ul>
                            </div>
                             {{/ifIgual}}
                        {{/ifDif}}

                    
                        

                           <span class="time like_btn" style="cursor:pointer;  font-size: 15px;" style="font-size:14px" ><i class="fa fa-thumbs-o-up"> </i></span>
    
                        
              <span data-toggle="tooltip" data-placement="top" title="Hora de publicación" class="time" style="font-size:14px" ><i class="fa fa-clock-o"></i> {{infopost.hora}} </span>

                    <span data-toggle="tooltip" data-placement="top" title="Fecha de publicación" class="time" style="font-size:14px"><i class="fa fa-calendar"></i> {{infopost.fecha}}  </span>

                  
                     <div class=" timeline-header"> <b> {{infopost.usuario.login }}   </b> ha publicado  
                      <small  data-toggle="tooltip" data-placement="top" title="Calificación del profesor" class="label label-danger pull-right"><i class="fa  fa-bullhorn"></i> {{infopost.calidad }} </small>
                    </div>
                    <div class="timeline-body">
                   
                        <div class=" row  contenidoWr" style="word-break: break-all; height:250px; overflow: hidden">
                            <div class="col-md-2 ">
                              <div class="pull-left image ">
                                <img src="{{ foto }}" style="width:60px; height:60px" class="img-circle" alt="User Image">
                                <center> <h4>{{infopost.usuario.login}}</h4></center>
                              </div>
                            </div>
                            <div class="col-md-10">
                               <br>
                              <div class="titulo form-control" style="height:100%; font-weight:bold">
                                 <h4> <b> {{infopost.titulo}} </b> </h4>
                              </div>
                              <br>
                              <div class="contenido form-control"  style="height:100%; ">
                                
                                     
                              </div>
                            </div>
                        </div>

                    </div>
                   <div class="pie timeline-footer" >
                      <center>
                      <a  style="display:none" class="leerTbtn btn btn-primary btn-xs">Seguir leyendo</a>
                     
                      </center>

                         {{#ifIgual datosUsuario.idTipousuario 2}}
                        <div class="btn-group dropup pull-right " style="bottom:30px;">
                      <button type="button" class="btn btn-default ">Calificar</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>

                          <ul class="dropdown-menu" role="menu">
                                  <li   ><a id= 'Excelente'  class='cal_op' >Excelente</a></li>
                                  <li   ><a id= 'Buena'  class='cal_op' >Muy buena</a></li>
                                  <li   ><a id= 'Regular'  class='cal_op' > Regular</a></li>
                                  <li  ><a id= 'Mala' class='cal_op' >Mala</a></li>
                          </ul>
                        </div>
                        </div>
                            {{/ifIgual}}
                  </div>
           
</script>


{% endverbatim %}

{% endblock %}
{% block left_menu %}

{% set contexto = "sala" %}

   {{ usuarioMacros.MenuUsuarioView(contexto,grupo) }}

{% endblock %}
{% block javascripts %}

 
<script>



 		 GlobalIdUsuario= "{{ app.user.id }}";
		 GlobalIdGrupo= "{{ grupo.id }}";
     {% if app.user.idFotoPerfil %}
       GlobalFotoPerfilU= "{{ asset('bundles/av/' ~  app.user.idFotoPerfil ~ '') }}";
     {% else %}

      GlobalFotoPerfilU ="{{ asset('bundles/av/Admin/dist/img/user2-160x160.jpg') }}";
     {% endif %}

     GlobalTipoUsuario= "{{ app.user.idtipousuario.id }}";
   
    


 // $(function () {
 //        $('[data-toggle="tooltip"]').tooltip()
 //      });









 </script>
 <script src="http://localhost:3000/socket.io/socket.io.js"> </script>
	{{parent()}}

{% javascripts
    'bundles/av/js/underscore-min.js'
    'bundles/av/js/backbone-min.js'
    'bundles/av/js/handlebars-v3.0.3.js'
    'bundles/av/js/postBackend.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

 {% endjavascripts %}

{% endblock %}