{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechacontestado</th>
                <td>{{ entity.fechaContestado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Puntos</th>
                <td>{{ entity.puntos }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
