{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Email</th>
                <th>Tlf</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.clave }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.cedula }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.tlf }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuario_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
